* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat";
}
:root {
  --basicBlue: #3498db;
  --basicGrey: #e0e0e0;
  --lightBlue: #d0e8ff;
}

textarea {
  resize: none;
}

label {
  font-weight: bold;
  font-size: large;
}

input {
  border-radius: 5px;
  background-color: var(--lightBlue);
  padding: 4% 3%;
  border: 0;
  font-size: medium;
}

.buyNowButton {
  background: var(--basicBlue);
  padding: 8px 30px;
  color: #fff;
  font-size: small;
}

body {
  margin: 0 auto;
  width: 100%;
  font-weight: normal;
}

body > main {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

body > main > section {
  width: 50%;
  display: inline-flex;
  flex-wrap: wrap;
}

main > section > picture {
  width: 50%;
  background: lightgray;
}

header {
  margin: auto;
  padding: 0;
  vertical-align: middle;
  width: 100%;
  min-height: 100px;
  background-color: black;
}

footer {
  width: 100%;
  min-height: 100px;
  background-color: darkgray;
}

section {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0% 10%;
}

picture {
  width: 50%;
  min-width: 300px;
}

body > main > section > aside {
  width: 50%;
  min-width: 300px;
}

hr {
  height: 5px;
  width: 30%;
  border: 0;
  background-color: var(--basicBlue);
}

.smallList {
  width: 100%;
  display: inline-flex;
}

.mainProductImage {
  /*width: 50%;
  height: 50%;*/
}

.smallProductImage {
  width: 25%;
  border: 2px 2px 2px 2px;
  background-color: aquamarine;
  height: 50px;
  border: 2px solid blue;
}

.container {
  text-align: center;
  margin-top: 5%;
  width: 100%;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 90%;
  margin: auto;
}

.circle-title {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  width: 93%;
  margin: auto;
  font-weight: bold;
}

.progress-container::before {
  content: ""; /* Mandatory with ::before */
  background-color: var(--basicGrey);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--basicBlue);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--basicGrey);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--basicBlue);
  background-color: var(--basicBlue);
}

button {
  background-color: var(--basicBlue);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin-top: 5%;
  font-size: 14px;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: 0;
}

button:disabled {
  background-color: var(--basicGrey);
  cursor: not-allowed;
}

#top_section {
  width: 100%;
}



/*   Floating Card   */

.shop-card {
  position: absolute;
  top: 35%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 260px;
  min-width: 100px;
  background: #ebdb07;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
  overflow: hidden;
  border-radius: 5px;
  padding: 1% 1%;
  text-align: center;
  z-index: 1;
  opacity: 0.8;
}
.desc {
  font-size: 18px;
  opacity: 0.8;
}
.alert-Time{
  margin-top: 3%;
  font-size: 12px;
  opacity: 0.6;
}