* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat";
  overflow-x: hidden;
}
:root {
  --basicBlue: #3498db;
  --basicGrey: #e0e0e0;
  --lightBlue: #d0e8ff;
}

textarea {
  resize: none;
  width: 90%;
}

label {
  font-weight: bold;
  font-size: 16px;
}
.labelCheckbox {
  font-size: 10px;
}

/*
#checkAddress{
  width: 20px;
}*/

input,
select {
  border-radius: 5px;
  background-color: var(--lightBlue);
  padding: 3% 1%;
  min-width: 140px;
  width: 90%;
  border: 0;
  font-size: 14px;
}

#buyNowButton {
  background: var(--basicBlue);
  padding: 8px 30px;
  color: #fff;
  font-size: small;
}

body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  font-weight: normal;
}

body > main {
  display: inline-flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  height: 86%;
}

#top_section {
  width: 100%;
  margin-bottom: 1%;
}

#left_section,
#right_section {
  /*width: 50%;revisar*/
  display: inline-flex;
  flex-wrap: wrap;
  flex: 1;
  min-width: 300px;
  padding: 0% 2% 0% 2%;
  margin: 2%;
}
section#left_section {
  align-items: center;
  justify-content: center;
}
section#right_section {
  align-items: center;
  justify-content: center;

}
header {
  margin: auto;
  padding: 0;
  vertical-align: middle;
  width: 100%;
  min-height: 100px;
  background-color: black;
}


footer {
  width: 100%;
  min-height: 100px;
  background-color: darkgray;
}

body > main > section > aside {
  width: 50%;
  min-width: 300px;
}

.sectionTitle {
  width: 100%;
}

.sectionTitle hr {
  height: 5px;
  width: 40%;
  border: 0;
  background-color: var(--basicBlue);
}

.smallList {
  width: 100%;
  display: inline-flex;
}

.mainProductContent {
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.mainProductContent > div {
  width: 48%;
  height: auto;
  padding: 0% 2%;
  min-width: 150px;
}
.smallProductImage {
  width: 25%;
  border: 2px 2px 2px 2px;
  background-color: aquamarine;
  height: 50px;
  border: 2px solid blue;
}

.container {
  text-align: center;
  margin-top: 2%;
  width: 100%;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 90%;
  margin: auto;
}

.circle-title {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  width: 93%;
  margin: auto;
  font-weight: bold;
}

.progress-container::before {
  content: ""; /* Mandatory with ::before */
  background-color: var(--basicGrey);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--basicBlue);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--basicGrey);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--basicBlue);
  background-color: var(--basicBlue);
}

.btn {
  background-color: var(--basicBlue);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  /*margin-top: 2%;*/
  font-size: 14px;
}
#clear {
  border-radius: 5px;
  background-color: var(--basicGrey);
  padding: 0;
  color: #3498db;
  border: 2px;
  border-style: solid;
  border-color: #3498db;
  font-size: 14px;
  min-width: 120px;
  width: 20px;
  height: 40px;
  font-weight: bold;
}
#next {
  border-radius: 5px;
  background-color: var(--basicBlue);
  padding: 0;
  color: #fff;
  border: 2px;
  border-style: solid;
  border-color: #3498db;
  font-size: 14px;
  min-width: 120px;
  width: 20px;
  height: 40px;
  font-weight: bold;
}
#bottom_section {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 0%;
}
.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--basicGrey);
  cursor: not-allowed;
}

/*   shoppingCart   */
.shoppingCart {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(41, 41, 40, 0.637);
  border-radius: 10px;
  width: 100%;
  padding: 2%;
  height: 300px;
  display: inline-flex;
  /* align-items: stretch; */
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2%;
}
div.shoppingCart > div {
  width: 48%;
  padding: 0% 2%;
  min-width: 150px;
}
.cartImage > img {
  height: 160px;
}
/*   CSS ADDRESS   */
.prePhoneInLine {
  display: flex;
  align-items: center;
}
.selectStyle {
  background-color: var(--basicBlue);
  color: #fff;
}
.radioButtonInput,
.checkboxInput {
  min-width: auto;
  width: auto;
  margin-right: 3px;
}

.estimatedDeliveryDate > p {
  font-size: 12px;
}

.shippingForm {
  align-self: stretch;
}

/*   Floating Card   */

.shop-card {
  position: fixed;
  top: 2%;
  right: 2%;
  width: 260px;
  min-width: 80px;
  background: #ebdb07;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 5px;
  padding: 1% 1%;
  margin: 1%;
  text-align: center;
  z-index: 1;
  opacity: 0.999999;
}
.desc {
  font-size: 18px;
  opacity: 0.8;
}
.alert-Time {
  margin-top: 3%;
  font-size: 12px;
  opacity: 0.6;
}

/*  */
.inputError {
  font-size: 10px;
  color: #000000;
  background-color: #f0ab9c;
  display: none;
  min-width: 140px;
  width: 90%;
  border-radius: 5px;
  border: 0;
  padding: 2px;
}
